  <footer class="footer py-5 mt-5" style="background-color: var(--dark-brown);">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-3 g-4">
        <div class="col">
          <h4 class="footer-heading mb-3">Company</h4>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="footer-link">About Us</a></li>
            <li class="mb-2"><a href="#" class="footer-link">Careers</a></li>
            <li class="mb-2"><a href="#" class="footer-link">Contact</a></li>
            <li class="mb-2"><a href="#" class="footer-link">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col">
          <h4 class="footer-heading mb-3">Shop</h4>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="footer-link">Rings</a></li>
            <li class="mb-2"><a href="#" class="footer-link">Necklaces</a></li>
            <li class="mb-2"><a href="#" class="footer-link">Earrings</a></li>
            <li class="mb-2"><a href="#" class="footer-link">Bracelets</a></li>
          </ul>
        </div>
        <div class="col">
          <h4 class="footer-heading mb-3">Connect With Us</h4>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#" class="footer-link d-flex align-items-center">
                <i class="fab fa-instagram me-2"></i> Instagram
              </a>
            </li>
            <li class="mb-2">
              <a href="#" class="footer-link d-flex align-items-center">
                <i class="fab fa-facebook me-2"></i> Facebook
              </a>
            </li>
            <li class="mb-2">
              <a href="#" class="footer-link d-flex align-items-center">
                <i class="fab fa-pinterest me-2"></i> Pinterest
              </a>
            </li>
            <li class="mb-2">
              <a href="#" class="footer-link d-flex align-items-center">
                <i class="fab fa-twitter me-2"></i> Twitter
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-4 pt-4 border-top border-secondary">
        <div class="col-12 text-center">
          <p class="text-light mb-0">&copy; 2024 LUME Jewelry. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>